$white-color: #ffffff;
//navigation variables
$navigation-bg-color: #16644e;
$navigation-active-bg: #53b99c;

//button variables
$btn-primary-bg: #16644e;
$btn-secondary-bg: #233d4d;
$btn-primary-color: $white-color;

//price variables
$circle-bg: #d8d8d8;
$price-address-bg: #F3F3F3;

//border variables
$border-grey-color: grey;

//padding variables
$padding-large: 30px;
$padding-medium: 20px;
$padding-small: 10px;
$padding-extra-small: 5px;

